*{
    margin:0;
    box-sizing: border-box;
   
  
     }

body{
    background-color: black;
    color: white;
    line-height: 20pt;
    
       
}




/*--Heading--*/

.heading{
    position: relative;
    text-align: center;
}
h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 48pt;
    
 

}





/*--Navigetor Bar*/

.nav-bar {
  width: 100%;
 background-color: cadetblue;
  overflow: auto;
  border: rgba(255, 136, 0, 0.315) solid 3px;

}
.nav-bar a {
    float: left;
    color: #e2dcdc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav-bar a:hover {
    background-color:gainsboro;
    color: black;
  }

  /* main body*/

  .section1{
     margin: 10px;
    display:grid;
    grid-template-columns: 50% 50%;
  }
  .section2{
    margin: 10px;
   display:grid;
   grid-template-columns: 50% 50%;
 grid-column-start: auto;
 }
 .img1{
     float: left;
 }

 .div1{
    width: 40%;
    float: left;
    font-size: small;
    color: white;
    text-align-last: initial;
    line-height: 30px;
    
     
}

.div0{
    width: 60%;
    float: right;
    margin: 5px;
}

iframe{
    float: left;
    margin: 5px;
    border: mistyrose solid 3px ;

}
.div2{
    float: right;
    margin: 5px;
    width: 500px;
    font-size: large;
    color: white;
    text-align: start;
    line-height: 30px;
    
    
    
}
.div3{
    float: right;
    margin: 5px;
}
.div4{
    
margin: 50px; 
font-size:large;
line-height: 30px;
}

.div5{
   
 width: 70%;
 float: right;


}
.div6{
    width: 70%;
    line-height: 24pt;
    
    
}
.where{
    font-size: 30pt;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: wheat;
    margin: 50px;
    text-align: center;
   
    
}

