*{
    margin:0;
    box-sizing: border-box;
     }

   

/*--Heading--*/

.heading{
    position: relative;
    text-align: center;
}
h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: xxx-large;

}
body{
    background-color: black;
    display: block;
    grid-auto-flow: row;
}




/*--Navigetor Bar*/

.nav-bar {
  width: 100%;
 background-color: cadetblue;
  overflow: auto;
  border: rgba(255, 136, 0, 0.315) solid 3px;

}
.nav-bar a {
    float: left;
    color: #e2dcdc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav-bar a:hover {
    background-color:gainsboro;
    color: black;
  }

  /* main body*/

  div{
    width: 500px;
    font-size: small;
    color: white;
    
    text-align-last: initial;
    line-height: 30px;
    
     
}

.div1{
    float: right;
    margin: 5px;
}

iframe{
    float: left;
    margin: 5px;
    border: mistyrose solid 3px ;

}
.div2{
    float: right;
    margin: 5px;
    width: 500px;
    font-size: large;
    color: white;
    text-align: start;
    line-height: 30px;
    
    
    
}
.div3{
    float: right;
    margin: 5px;
}
.div4{
    
margin: 50px; 
font-size:large;
line-height: 30px;
}
section{
    display: grid;
    grid-template-columns: auto;
 
}

.div5{
    width: 100%;
 width: 70%;

}
.div6{
    width: 100%;
    float: right;
.where{
    font-size: xx-large;
    margin: 50px;
    text-align: center;
   
    
}
/*aside*/

asdie{
    position: relative;
    display: grid;
    grid-auto-flow: dense;
    grid-row: 50% auto;

}
.fimg{
    display: non;
}
.click{
    cursor: pointer;
}
/*prev & next
.prev,
.next{
    cursor: pointer;
position: absolute;
text-outline: 40%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 15px;
border-radius: 0 3px 3px 0;
-webkit-user-select: none;*/
}
/* Position the "next button to the right 
.next{
    right:0;
    border-radius: 3px 0 0 3px;

}*/
/*on hover
.prev:hover,
.next:hover{
    background-color: wheat;
}*/
/*number next

.page{
    color: rgb(199, 212, 221);
    font-size: 12pt;
    padding: 8px 12px;
    position: absolute;
    top:0;
}*/
/*caption
.caption{
    text-align: center;
    background-color: rgb(196, 144, 184);
    padding:2px 16px;
    color:white;

}
.row::after{
    content: "";
    display: table;
    clear: both;
}*/

/*colums side by side 
.column{
    float: left;
    width: 16.6%;
}
.demo{
    opacity:0.6;
}
.active,
.demo:hover{
    opacity: 1;
}
*/

